#signup-form {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 1.5rem;
}

#signup-form > input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

#signup-form > button {
  padding: 0.5rem;
  width: 60px;
  align-self: center;
}
#signup-form > div.error {
  color: red;
}
