#error-page {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
}

#error-page > h1,
p {
  margin: 1.5rem 0;
}

#error-page > p > i {
  color: #818181;
}
