:root {
  --main-bg-color: #f3f3f3;
  --basic-unit: 4px;
  --grey-secondary-font-color: #8a8a8a;
  --blue-font-color: rgb(0, 127, 170);
  --green-background: rgb(0, 191, 111);
  --green-hover-background: rgb(0, 206, 120);
  --primary-yellow: rgb(249, 190, 0);
  --link-hover-bg-color: #f7f7f7;
  --black-font-color: #181818;
  --list-separator-color: #e5e5e5;
  --error-color: #d32f2f;
  --drop-down-top-menu-hover-color: #8a8a8a;
}

*,
body,
html,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

html,
#root {
  height: 100vh;
  width: 100%;
}

body h1,
body h2,
body h3,
body h4,
body h5 {
  line-height: normal;
}

body {
  color: #404040;
  display: flex;
  word-spacing: -1px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

body a {
  text-decoration: none;
  color: #161616;
  /* font-family: "Besley", serif; */
}

body ul {
  list-style: none;
}
